# dependencies
node_modules

# build
.next
dist
coverage
.turbo

# env
.env
.env.*
!.env.example

# logs
*.log

# editor
.vscode/*
!.vscode/settings.json
.idea

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# misc
.vercel